<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./../assets/style/select2/select2.css">
    <link rel="icon" type="image/x-icon" href="./../assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.PROFILORDER.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.PROFILORDER.TITLE }}</h1>

<table class="table table-dark mx-auto mt-3" style="max-width: 70%">
    <tr class="text-center">
        <th>{{ lang.PROFILORDER.DATETIME }}</th>
        <th>{{ lang.PROFILORDER.PRICE }}</th>
        <th>{{ lang.PROFILORDER.STATUS }}</th>
        <th></th>
    </tr>
    {% for order in orders %}
        <tr class="text-center">
            <td>{{ order.getOrderDateTimeToString }}</td>
            <td>{{ order.totalPrice }}€</td>
            {%  if order.delivered == 1 %}
                <td>{{ lang.PROFILORDER.DELIVERED }}</td>
            {% else %}
                <td>{{ lang.PROFILORDER.NOTDELIVERED }}</td>
            {% endif %}
            <td><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ order.orderId }}">
                    Details
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal{{ order.orderId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5 center" style="color: #0a53be">{{ lang.PROFILORDER.ORDER }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table text-center mx-auto">
                                {% for orderProduct in order.getOrderProducts %}
                                        <tr class="text-center">
                                            <td class="p-3"><img src="{{ orderProduct.chapter.product.img }}" style="height: 200px"></td>
                                            <td class="p-3"><a class="h3" style="color: black" href="/chapterspage?id={{ orderProduct.chapter.product.productId }}">{{ orderProduct.chapter.product.productName }}</a></td>
                                        </tr>
                                        <tr class="text-center">
                                            <td class="p-3">
                                                <p style="color: black">{{ lang.PROFILORDER.CHAPTER }}: </p>
                                                <p style="color: black">{{ orderProduct.chapter.chapterName }}</p>
                                            </td>
                                            <td class="p-3">
                                                <p style="color: black">{{ lang.PROFILORDER.QUANTITY }}: </p>
                                                <p style="color: black">{{ orderProduct.qtt }}</p>
                                            </td>
                                            <td class="p-3">
                                                <p style="color: black">{{ lang.PROFILORDER.PRICE }}: </p>
                                                <p style="color: black">{{ orderProduct.chapter.chapterPrice }}€</p>
                                            </td>
                                        </tr>
                                {% endfor %}
                                    <tr class="text-center">
                                        <td colspan="3" class="center p-3">
                                            <p style="color: black">{{ lang.PROFILORDER.TOTAL }}: {{ order.totalPrice }}€</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ lang.PROFILORDER.CLOSE }}</button>
                            </div>
                        </div>
                    </div>
                </div></td>
        </tr>
    {% endfor %}
</table>

{% include "/footer.html.twig" %}

</body>
<script src="./../javascript/bootstrap/bootstrap.bundle.js"></script>
<script src="./../javascript/jquery/jquery.js"></script>
<script src="./../librairies/select2/dist/js/select2.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
<script src="./../javascript/profile/profileOrders.js"></script>
</html>