<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./../assets/style/select2/select2.css">
    <link rel="icon" type="image/x-icon" href="./../assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.PROFILINFOS.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

<h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.PROFILINFOS.TITLE }}</h1>

<div class="center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh; font-size: 20px">
    <p>{{ lang.PROFILINFOS.EMAIL }} : {{ user.email }}</p>
    <p>{{ lang.PROFILINFOS.LASTNAME }} : {{ user.lastName }}</p>
    <p>{{ lang.PROFILINFOS.FIRSTNAME }} : {{ user.firstName }}</p>
    <p>{{ lang.PROFILINFOS.STREETNUMBER }} : {{ user.nbStreet }}</p>
    <p>{{ lang.PROFILINFOS.STREET }} : {{ user.street }}</p>
    <p>{{ lang.PROFILINFOS.POSTCODE }} : {{ user.postcode }}</p>
    <p>{{ lang.PROFILINFOS.CITY }} : {{ user.city }}</p>
    <p>{{ lang.PROFILINFOS.BIRTHDATE }} : {{ user.getBirthDateToString }}</p>
</div>



{% include "/footer.html.twig" %}

</body>
<script src="./../javascript/bootstrap/bootstrap.bundle.js"></script>
<script src="./../javascript/jquery/jquery.js"></script>
<script src="./../librairies/select2/dist/js/select2.js"></script>
</html>