<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "/layoutStyle.html.twig" %}
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.PROFILINFOS.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

<h1 class="h1 center" style="max-width: 70%; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.PROFILINFOS.TITLE }}</h1>

<div class="center bg-dark text-light p-2" style="max-width: 70%; margin-right: auto; margin-left: auto; margin-top: 3vh; font-size: 20px; border-radius: 1vw;">
    <p>{{ lang.PROFILINFOS.EMAIL }} : {{ user.email }}</p>
    <p>{{ lang.PROFILINFOS.LASTNAME }} : {{ user.lastName }}</p>
    <p>{{ lang.PROFILINFOS.FIRSTNAME }} : {{ user.firstName }}</p>
    <p>{{ lang.PROFILINFOS.STREETNUMBER }} : {{ user.nbStreet }}</p>
    <p>{{ lang.PROFILINFOS.STREET }} : {{ user.street }}</p>
    <p>{{ lang.PROFILINFOS.POSTCODE }} : {{ user.postcode }}</p>
    <p>{{ lang.PROFILINFOS.CITY }} : {{ user.city }}</p>
    <p>{{ lang.PROFILINFOS.BIRTHDATE }} : {{ user.getBirthDateToString }}</p>
</div>



{% include "/footer.html.twig" %}

</body>
{% include "/layoutScript.html.twig" %}
</html>