<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./../assets/style/select2/select2.css">
    <link rel="icon" type="image/x-icon" href="./../assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.PROFILORDER.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.PROFILORDER.TITLE }}</h1>

<table class="table table-dark mx-auto mt-3" style="width: 50vw">
    <tr class="text-center">
        <th>{{ lang.PROFILORDER.DATETIME }}</th>
        <th>{{ lang.PROFILORDER.PRICE }}</th>
        <th>{{ lang.PROFILORDER.STATUS }}</th>
    </tr>
    {% for order in orders %}
        <tr class="text-center">
            <td>{{ order.getOrderDateTimeToString }}</td>
            <td>{{ order.totalPrice }}€</td>
            {%  if order.delivered == 1 %}
                <td>{{ lang.PROFILORDER.DELIVERED }}</td>
            {% else %}
                <td>{{ lang.PROFILORDER.NOTDELIVERED }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% include "/footer.html.twig" %}

</body>
<script src="./../javascript/bootstrap/bootstrap.bundle.js"></script>
<script src="./../javascript/jquery/jquery.js"></script>
<script src="./../librairies/select2/dist/js/select2.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
<script src="./../javascript/profile/profileOrders.js"></script>
</html>