<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.ADMINCATEG.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<table class="mx-auto mt-3" style="width: 50vw">
    <td><h1 class="h1 center">{{ lang.ADMINCATEG.TITLE }}</h1></td>
    <td><button id="add" class="btn btn-success">{{ lang.ADMINCATEG.ADD }}</button></td>
</table>

<div id="form-add" class="mx-auto mt-3" style="display: none; width: 50vw">
    <h3 id="form-title" class="h3 center"></h3>
    <div id="error" class="alert alert-danger" style="display: none; width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh"></div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="categ_name">{{ lang.ADMINCATEG.NAME }}</label>
        <input type="text" class="form-control" id="categ_name" name="categ_name" placeholder="{{ lang.ADMINCATEG.NAME }}">
    </div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="categ_resume">{{ lang.ADMINCATEG.RESUME }}</label>
        <textarea type="text" rows="5" class="form-control" id="categ_resume" name="categ_resume" placeholder="{{ lang.ADMINCATEG.RESUME }}"></textarea>
    </div>
    <button id="validate-form" class="btn btn-primary">{{ lang.ADMINCATEG.SUBMIT }}</button>
    <button id="update-form" class="btn btn-primary" style="display: none">{{ lang.ADMINCATEG.UPDATE }}</button>
    <button id="cancel-form" class="btn btn-danger">{{ lang.ADMINCATEG.CANCEL }}</button>
</div>

<table class="table table-dark mx-auto mt-3" style="width: 50vw">
    <tr class="text-center">
        <th>{{ lang.ADMINCATEG.NAME }}</th>
        <th>{{ lang.ADMINCATEG.RESUME }}</th>
        <th></th>
    </tr>
    <tbody id="categ-table-body">
{% for categ in categs %}
    <tr class="text-center">
        <td>{{ categ.categName }}</td>
        <td>{{ categ.categDesc }}</td>
        <td><button id="upd{{ categ.categId }}" class="btn btn-warning update">{{ lang.ADMINCATEG.UPDATE }}</button></td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% include "/footer.html.twig" %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./../javascript/admin/adminCategs.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
</html>