<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>{{ lang.ADMINPRODUCT.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% if selectedProduct != null %}
    <h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.ADMINPRODUCT.TITLEMODIF }}</h1>
{% else %}
    <h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.ADMINPRODUCT.TITLEADD }}</h1>
{% endif %}


<form method="POST" action="/admin/product" class="mx-auto mt-3" style="width: 50vw">
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="resume">{{ lang.ADMINPRODUCT.RESUME }}</label>
        <input type="text" class="form-control" id="resume" name="resume" placeholder="{{ lang.ADMINPRODUCT.RESUME }}"
        {% if selectedProduct != null %}
            value="{{ selectedProduct.productId }}"
        {% endif %}
        >
    </div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="productName">{{ lang.ADMINPRODUCT.PRODUCTNAME }}</label>
        <input type="text" class="form-control" id="productName" name="productName" placeholder="{{ lang.ADMINPRODUCT.PRODUCTNAME }}"
        {% if selectedProduct != null %}
            value="{{ selectedProduct.productName }}"
        {% endif %}
        >
    </div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="img">{{ lang.ADMINPRODUCT.IMG }}</label>
        <input type="text" class="form-control" id="img" name="img" placeholder="{{ lang.ADMINPRODUCT.IMG }}"
        {% if selectedProduct != null %}
            value="{{ selectedProduct.img }}"
        {% endif %}
        >
    </div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="chapterNumber">{{ lang.ADMINPRODUCT.CHAPTERNUMBER }}</label>
        <input type="number" class="form-control" id="chapterNumber" name="chapterNumber" placeholder="{{ lang.ADMINPRODUCT.CHAPTERNUMBER }}"
        {% if selectedProduct != null %}
            value="{{ selectedProduct.chapterNumber }}"
        {% endif %}
        >
    </div>
    <div class="form-group" style="margin-bottom: 2vh">
        <label for="averageRating">{{ lang.ADMINPRODUCT.AVERAGERATING }}</label>
        <input type="text" class="form-control" id="averageRating" name="averageRating" placeholder="{{ lang.ADMINPRODUCT.AVERAGERATING }}"
        {% if selectedProduct != null %}
            value="{{ selectedProduct.averageRating }}"
        {% endif %}
        >
    </div>
    <section class="mb-4 me-4" data-filter="categories">
        <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.CATEGORIES }}</h6>

        <select name="selectCategories" id="categories" multiple>
            {% for categ in categs %}
                <option value="{{ categ.categId }}">{{ categ.categName }}</option>
            {% endfor %}
        </select>
    </section>
    <div class="form-check" style="margin-bottom: 2vh">
        <input type="checkbox" class="form-check-input" id="status" name="status" value="1"
        {% if selectedProduct != null %}
            {% if selectedProduct.status %}
                checked="checked"
            {% endif %}
        {% endif %}
        >
        <label class="form-check-label" for="status">{{ lang.ADMINPRODUCT.STATUS }}</label>
    </div>
    <div class="form-check" style="margin-bottom: 2vh">
        <input type="checkbox" class="form-check-input" id="ageRank" name="ageRank" value="1"
        {% if selectedProduct != null %}
            {% if selectedProduct.ageRank %}
                checked="checked"
            {% endif %}
        {% endif %}
        >
        <label class="form-check-label" for="ageRank">{{ lang.ADMINPRODUCT.AGERANK }}</label>
    </div>
    <button type="submit" class="btn btn-primary">{{ lang.ADMINPRODUCT.SUBMIT }}</button>
</form>



{% include "/footer.html.twig" %}

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
<script src="./../javascript/admin/adminProduct.js"></script>
</html>