<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "/layoutStyle.html.twig" %}
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.ADMINPRODUCTS.ADMIN }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.ADMINPRODUCTS.TITLE }}</h1>

<table class="table table-dark mx-auto mt-3" style="width: 50vw">
    <tr class="text-center">
        <th>{{ lang.ADMINPRODUCTS.PRODUCTNAME }}</th>
        <th>{{ lang.ADMINPRODUCTS.CATEGS }}</th>
        <th>{{ lang.ADMINPRODUCTS.AVAILABLE }}</th>
        <th></th>
        <th><form action="/admin/product"><button type="submit" class="btn btn-success">{{ lang.ADMINPRODUCTS.ADD }}</button></form></th>
    </tr>
    {% for product in products %}
        <tr class="text-center">
            <td><a href="/admin/chapters?id={{ product.productId }}" style="color: white">{{ product.productName }}</a></td>
            <td>
                {% for key, categ in product.getCategories %}
                    {{ categ.categName }}
                    {% if key != product.getCategories|length-1 %}
                        ,
                    {% endif %}
                {% endfor %}
            </td>
            {% if product.notAvailable != 0 %}
                <td>{{ lang.ADMINPRODUCTS.NO }}</td>
                <td><button id="del{{ product.productId }}" class="btn btn-success delete">{{ lang.ADMINPRODUCTS.PUTBACK }}</button></td>
            {% else %}
                <td>{{ lang.ADMINPRODUCTS.YES }}</td>
                <td><button id="del{{ product.productId }}" class="btn btn-danger delete">{{ lang.ADMINPRODUCTS.DELETE }}</button></td>
            {% endif %}
            <td><a href="/admin/product?id={{ product.productId }}" class="btn btn-warning">{{ lang.ADMINPRODUCTS.UPDATE }}</a></td>
        </tr>
    {% endfor %}
</table>


{% include "/footer.html.twig" %}

</body>
{% include "layoutScript.html.twig" %}
<script src="./../javascript/admin/adminProducts.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
</html>