<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./../assets/style/select2/select2.css">
    <link rel="icon" type="image/x-icon" href="./../assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.ADMINUSERS.TITLE }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<h1 class="h1 center" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.ADMINUSERS.TITLE }}</h1>

<div id="error" class="alert alert-danger" style="display: none; width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh"></div>

<table class="table table-dark mx-auto mt-3" style="width: 50vw">
    <tr class="text-center">
        <th>{{ lang.ADMINUSERS.MAIL }}</th>
        <th>{{ lang.ADMINUSERS.FIRST_NAME }}</th>
        <th>{{ lang.ADMINUSERS.LAST_NAME }}</th>
        <th>{{ lang.ADMINUSERS.ADMIN }}</th>
        <th></th>
    </tr>
    {% for user in users %}
        <tr class="text-center">
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            {%  if user.admin == 1 %}
                <td>{{ lang.ADMINUSERS.YES }}</td>
                <td><button id="{{ user.email }}" class="btn btn-danger setAdmin">{{ lang.ADMINUSERS.DELETE }}</button></td>
            {% else %}
                <td>{{ lang.ADMINUSERS.NO }}</td>
                <td><button id="{{ user.email }}" class="btn btn-success setAdmin">{{ lang.ADMINUSERS.ADD }}</button></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>


{% include "/footer.html.twig" %}

</body>
<script src="./../javascript/bootstrap/bootstrap.bundle.js"></script>
<script src="./../javascript/jquery/jquery.js"></script>
<script src="./../librairies/select2/dist/js/select2.js"></script>
<script src="./../javascript/admin/adminUsers.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
</html>