<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link href="/assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.ADMIN.ADMIN }}</title>
</head>
<body>
{% include "/header.html.twig" %}

{% include "/scrollToTop.html.twig" %}

<table class="table table-bordered mx-auto mt-3" style="width: 50vw">
    <tr class="text-center">
        <th>{{ lang.ADMIN.PRODUCTNAME }}</th>
        <th></th>
        <th><form action="/admin/product"><button type="submit" class="btn btn-success">{{ lang.ADMIN.ADD }}</button></form></th>
    </tr>
    {% for product in products %}
        <tr class="text-center">
            <td><a href="/admin/chapters?id={{ product.productId }}">{{ product.productName }}</a></td>
            {% if product.notAvailable != 0 %}
                <td><button id="del{{ product.productId }}" class="btn btn-success delete">{{ lang.ADMIN.PUTBACK }}</button></td>
            {% else %}
                <td><button id="del{{ product.productId }}" class="btn btn-danger delete">{{ lang.ADMIN.DELETE }}</button></td>
            {% endif %}
            <td><a href="/admin/product?id={{ product.productId }}" class="btn btn-warning">{{ lang.ADMIN.UPDATE }}</a></td>
        </tr>
    {% endfor %}
</table>


{% include "/footer.html.twig" %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="./../javascript/admin/adminProduct.js"></script>
<script src="./../javascript/scrollToTop.js"></script>
</html>