<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "layoutStyle.html.twig" %}
    <link href="./assets/style/categoriesPage.css" rel="stylesheet">
    <link href="./assets/style/scrollToTop.css" rel="stylesheet">
    <title>{{ lang.HOME.CATEGORIES }}</title>
</head>
<body>
{% include "header.html.twig" %}
<main class="text-center">
    <h2>{{ lang.HOME.CATEGORIES }}</h2>
    <div class="row" id="categoriesContainer">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for key, category in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{ category.categId }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ category.categId }}" aria-expanded="false" aria-controls="flush-collapse{{ category.categId }}">
                        {{ category.categName }}
                    </button>
                </h2>
                <div id="flush-collapse{{ category.categId }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ category.categId }}" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% if category.categDesc == ''  %}
                            {{ lang.CATEGORIES.DESCRIPTION }}
                        {% else%}
                            {{ category.categDesc }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'scrollToTop.html.twig' %}
</main>
{% include "footer.html.twig" %}
</body>
{% include "layoutScript.html.twig" %}
<script src="./javascript/scrollToTop.js"></script>
</html>