<!DOCTYPE html>
<html lang="fr">
<head>

    {% include "layoutStyle.html.twig" %}
    <link href="./assets/style/chaptersPage.css" rel="stylesheet">
    <title>{{ lang.HOME.CHAPTERS }}</title>
</head>

{% include "header.html.twig" %}

<form method="post" action="/addproduct" id="chapitre">
    <div class="text-center row justify-content-center mt-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product[0].img }}" class="img-fluid rounded-start" alt="{{ product[0].productName }}">
                </div>
                <div class="col-md-8">
                    <div class="card-header">
                        <h5 class="card-title">{{ product[0].productName }}</h5>
                    </div>
                    <div class="card-body m-1">
                        <div class="overflow-auto mb-2 text-scrollable" id="text-scrollable">
                            <p class="text-left">{{ product[0].resume }}</p>
                        </div>
                        <select class="js-example-basic-multiple" name="chapters[]" multiple="multiple">
                            {% for key, chapter in chapters %}
                                {% set numero = key+1 %}
                                {% set numerolength = numero | json_encode(constant('JSON_PRETTY_PRINT'))|length%}

                                {% set values = [] %}
                                {% for i in 0..numerolength-1 %}
                                    {% set values = values|merge([numero|slice(i)]) %}
                                {% endfor %}

                                {% if not chapter.stock == 0 %}

                                    <option value={{ key+1 }}>{{ lang.CHAPITRE.CHAPITRE }} {{ key+1 }} ➔ {{ lang.CHAPITRE.PRIX }} : {{ chapter.chapterPrice }} € |
                                        {{ lang.CHAPITRE.STOCK }} : {{ chapter.stock }}</option>

                                {% else %}

                                    <option value={{ key+1 }} id='options{{ key+1 }}' class='pasdispo' disabled >{{ lang.CHAPITRE.CHAPITRE }} {{ key+1 }} ➔ {{ lang.CHAPITRE.PRIX }} : {{ chapter.chapterPrice }} € |
                                        {{ lang.CHAPITRE.STOCK }} : {{ chapter.stock }} </option>

                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-primary">{{ lang.CHAPITRE.PANIER }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include "footer.html.twig" %}


</body>
{% include "layoutScript.html.twig" %}

</html>