{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand ">MangAtoZ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2">
                    <li class="nav-item" id="">
                        <a href="#" class="nav-link">
                            {{ lang.HOME.HOME }}
                        </a>
                    </li>
                    <li class="nav-item" id="">
                        <a href="#" class="nav-link">
                            {{ lang.HOME.CATEGORY }}
                        </a>
                    </li>
                    <li class="nav-item" id="">
                        <a href="#" class="nav-link">
                            {{ lang.HOME.STORE }}
                        </a>
                    </li>
                    <li class="nav-item dropdown" id="">
                        <a href="#" class="nav-link dropdown-toggle" id="profileDropDown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ lang.HOME.PROFILE }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropDown">
                            <li>
                                <a href="#" class="dropdown-item"></a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item"></a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item"></a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a href="#" class="dropdown-item"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex p-2">
                    <input type="search" class="form-controle me-2" placeholder="{{ lang.HOME.SEARCH }}"
                           aria-label="{{ lang.HOME.SEARCH }}">
                    <button class="btn btn-outline-success me-2" type="submit">{{ lang.HOME.SEARCH }}</button>
                </form>
                <div class="d-flex justify-content-start border-start border-3 p-2">
                    <button class="btn btn-outline-success me-2" onclick="">{{ lang.HOME.LOGIN }}</button>
                    <button class="btn btn-outline-success me-2">{{ lang.HOME.SIGNUP }}</button>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}