{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand "><img src="/assets/img/logo.png"
                                                   style="height: 8vh; width: 9.014925373134328vh"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="">
                        <a href="/categories" class="nav-link">
                            {{ lang.HOME.CATEGORIES }}
                        </a>
                    </li>
                    <li class="nav-item" id="">
                        <a href="/store" class="nav-link">
                            {{ lang.HOME.STORE }}
                        </a>
                    </li>
                        {% if user != '' %}
                        <li class="nav-item dropdown" id="">
                            <a href="#" class="nav-link dropdown-toggle" id="profileDropDown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ lang.HOME.PROFILE }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropDown">
                                <li>
                                    <a href="/profile/infos" class="dropdown-item">{{ lang.HOME.USERPROFIL }}</a>
                                </li>
                                <li>
                                    <a href="/profile/orders" class="dropdown-item">{{ lang.HOME.USERORDERS }}</a>
                                </li>
                            </ul>
                            <li class="nav-item" id="">
                                <a href="/panier" class="nav-link">
                                    {{ lang.HOME.CART }}
                                </a>
                            </li>
                        </li>
                        {% if user.isAdmin == 1 %}
                        <li class="nav-item dropdown" id="">
                            <a href="#" class="nav-link dropdown-toggle" id="adminDropDown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ lang.HOME.ADMIN }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropDown">
                                <li>
                                    <a href="/admin/categs" class="dropdown-item">{{ lang.HOME.ADMINCATEGS }}</a>
                                </li>
                                <li>
                                    <a href="/admin/products" class="dropdown-item">{{ lang.HOME.ADMINPRODUCTS }}</a>
                                </li>
                                <li>
                                    <a href="/admin/users" class="dropdown-item">{{ lang.HOME.ADMINUSERS }}</a>
                                </li>
                                <li>
                                    <a href="/admin/orders" class="dropdown-item">{{ lang.HOME.ADMINORDERS }}</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if user == '' %}
                    <div class="d-flex justify-content-start border-start border-3 p-2">
                        <a class="btn btn-outline-success me-1" type="button" href="/login">{{ lang.HOME.LOGIN }}</a>
                        <a class="btn btn-outline-success me-1" type="button"
                           href="/registration">{{ lang.HOME.SIGNUP }}</a>
                    </div>
                {% else %}
                    <form action="/logout" method="post">
                        <div class="d-flex justify-content-start border-start border-3 p-2">
                            <button class="btn btn-outline-danger me-1" type="submit" name="logout">{{ lang.HOME.LOGOUT }}</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}