<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "layoutStyle.html.twig" %}
    <title>{{ lang.HOME.HOME }}</title>
</head>
<body>
{% include "header.html.twig" %}
<h2 class="text-center text-decoration-underline mb-3 mt-3">{{ lang.HOME.POPULARITY }}</h2>
<div class="row justify-content-center" style="margin-left: 10%; margin-right: 10%">
    {% for i in 0..2 %}
        <div class="text-center col">
            <a href="/chapterspage?id={{ products[i].productId }}">
                <img src="{{ products[i].img }}" class="rounded-start" alt="{{ products[i].productName }}" width="120"
                                                                        height="150">
            </a>
            <h5 class="">{{ products[i].productName }}</h5>
        </div>
    {% endfor %}
</div>
{% include "footer.html.twig" %}

</body>
{% include "layoutScript.html.twig" %}
</html>