<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{ lang.HOME.LOGIN }}</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
</head>
<body>
{% block loginform %}
    <main class="d-flex justify-content-center flex-column" >
        <div class="text-center" style="margin-right: 35%; margin-left: 35%; height: 100%">
            <form action="/login" method="post">
                <img class="m-4" src="" alt="sign-in logo" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">{{ lang.CONNECTION.SIGNIN }}</h1>
                <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ lang.CONNECTION.EMAIL_EXAMPLE }}"
                    {% if mail != '' %}
                        value="{{ mail }}"
                    {% endif %}
                    >
                    <label for="email">{{ lang.CONNECTION.EMAIL }}</label>
                    {% if errors.email != null %}
                        <p style="color : red">{{ errors.email }}</p>
                    {% endif %}
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ lang.CONNECTION.PASSWORD }}">
                    <label for="password">{{ lang.CONNECTION.PASSWORD }}</label>
                    {% if errors.password != null %}
                        <p style="color : red">{{ errors.password }}</p>
                    {% endif %}
                </div>
                <div class="checkbox m-3">
                    <label>
                        <input type="checkbox" value="1" checked="checked" id="remember_me" name="remember_me">
                        {{ lang.CONNECTION.REMEMBER }}
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">
                    {{ lang.CONNECTION.SIGNIN }}
                </button>
            </form>
            <a class="w-100 btn btn-lg btn-primary" type="button" href="/">{{ lang.CONNECTION.BACK }}</a>
        </div>
    </main>
{% endblock %}
</body>
</html>