<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "layoutStyle.html.twig" %}
    <title>{{ lang.HOME.CART }}</title>
</head>
<body>
{% include "header.html.twig" %}
{#{{ mangas }}#}

{% if mangas is null%}
<div class="text-center">
    <h2>{{ lang.PANIER.PANIER }}</h2>
    <a href="/store" class="text-decoration-none text-danger">{{ lang.PANIER.INFO }}</a>
</div>
{% else %}
<form method="post" action="/modifycart" class="text-center">

{% for manga in mangas %}
    <div  class="text-center">
<div class="mt-3">

    <h4>{{ manga[0] }}</h4>

</div>

    {% for key,numero in manga[1]  %}

    <div id="{{ manga[2][key] }}" class="mt-2">
        {{ lang.PANIER.CHAPITRE }} {{ manga[1][key] }}
        <div class="mt-1">
            {{ lang.PANIER.QUANTITE }} :
            <input type ='button' onclick="decrement(this)" id="decrement{{ manga[2][key] }}" value="-1" class="btn btn-outline-primary">
            <input id="{{ manga[3][key][0] }}" value="{{ manga[3][key][1] }}" name="{{ manga[2][key] }}" readonly size="1" class="text-center inputlg">
            <input type="button" onclick="increment(this)" class='increment btn btn-outline-primary' id="increment{{ manga[2][key] }}" value="+1">
        </div>
    </div>

    {% endfor %}

</div>

{% endfor %}
    <button type="submit" class="btn btn-outline-primary" value="modify" name="modify">Enregistrer les modifications</button>
    <button type="submit" class="btn btn-outline-success" value="validate" name="validate">Valider le panier </button>

</form>
{% endif %}

{% include "footer.html.twig" %}

</body>
<script src="./javascript/panier.js"></script>
{% include "layoutScript.html.twig" %}
</html>