<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

    <link href="./assets/style/productPage.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <title>{{ lang.PRODUCT.STORE }}</title>
</head>
<body>
{% include "header.html.twig" %}
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Section: Sidebar -->
                <section>
                    <!-- Section: Filters -->
                    <section id="filters" data-auto-filter="true" class="border-end">
                        <h5>{{ lang.PRODUCT.FILTERS }}</h5>

                        <!-- Section: Categories -->
                        <section class="mb-4 me-4" data-filter="categories">
                            <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.CATEGORIES }}</h6>

                            <select name="countries" id="countries" multiple>

                            </select>
                        </section>
                        <!-- Section: Categories -->
                        <!-- Section: Status -->
                        <section class="mb-4" data-filter="categories">
                            <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.STATUS }}</h6>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="new" id="condition-checkbox">
                                <label class="form-check-label text-uppercase small text-muted"
                                       for="condition-checkbox">
                                    {{ lang.PRODUCT.INPROGRESS }}
                                </label>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="used" id="condition-checkbox2">
                                <label class="form-check-label text-uppercase small text-muted"
                                       for="condition-checkbox2">
                                    {{ lang.PRODUCT.FINISH }}
                                </label>
                            </div>
                        </section>
                        <!-- Section: Status -->
                        <!-- Section: +18 section -->
                        <section class="mb-4" data-filter="categories">
                            <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.CENSURE }}</h6>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="new" id="condition-checkbox">
                                <label class="form-check-label text-uppercase small text-muted"
                                       for="condition-checkbox">
                                    {{ lang.PRODUCT.ADD }}
                                </label>
                            </div>
                        </section>
                        <!-- Section: Condition -->
                    </section>
                    <!-- Section: Filters -->
                </section>
                <!-- Section: Sidebar -->
            </div>
            <div class="col-md-8">
                <div class="row justify-content-center">
                    <div class="col-md-6 my-auto py-3">
                        <div id="select-wrapper-301599" class="select-wrapper d-inline-flex">
                            <select class="form-select m-1" aria-label="Default select example">
                                <option selected>{{ lang.PRODUCT.ORDER }}</option>
                                <option value="alphabetical">{{ lang.PRODUCT.ALPHABETICAL }}</option>
                                <option value="popularity">{{ lang.PRODUCT.POPULARITY }}</option>
                            </select>
                            <button class="btn btn-outline-primary m-1" type="submit">{{ lang.PRODUCT.VALIDATE }}</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-4" id="content" style="display: flex;">

                </div>
            </div>
        </div>
    </div>
</main>
{% include "footer.html.twig" %}
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

<script src="./javascript/productPage.js"></script>

</html>