<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "layoutStyle.html.twig" %}

    <link href="./assets/style/productPage.css" rel="stylesheet">
    <title>{{ lang.PRODUCT.STORE }}</title>
</head>
<body>
{% include "header.html.twig" %}
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Section: Sidebar -->
                <section>
                    <!-- Section: Filters -->
                    <form method="post" action="/store" id="filters">
                        <section id="filters" data-auto-filter="true" class="border-end">
                            <h5>{{ lang.PRODUCT.FILTERS }}</h5>

                            <!-- Section: Categories -->
                            <section class="mb-4 me-4" data-filter="categories">
                                <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.CATEGORIES }}</h6>

                                <select id="multi-select" class="multiple-categ-select" name="categs[]" multiple="multiple">
                                    {% for categ in categs %}
                                        {% if categ.categId in selectedCategs %}
                                            <option value="{{ categ.categId }}"selected>{{ categ.categName }}</option>
                                        {% else %}
                                            <option value="{{ categ.categId }}">{{ categ.categName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </section>

{#                            hidden div for categs for js#}
                            <div id="categs" style="display: none">
                                {% for key, selectedCateg in selectedCategs %}
                                    {{ selectedCateg }}
                                    {% if key != selectedCategs|length-1 %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Section: OrderBy -->
                            <section class="mb-4 me-4" data-filter="orderby">
                                <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.ORDER }}</h6>
                                <div id="select-wrapper-301599" class="select-wrapper d-inline-flex">
                                    <select id="order" class="form-select m-1" aria-label="Default select example" name="order">
                                        {% if order == 'alphabetical' %}
                                            <option value="neutral">{{ lang.PRODUCT.ORDER }}</option>
                                            <option value="alphabetical"
                                                    selected>{{ lang.PRODUCT.ALPHABETICAL }}</option>
                                            <option value="popularity">{{ lang.PRODUCT.POPULARITY }}</option>
                                        {% elseif order == 'popularity' %}
                                            <option value="neutral">{{ lang.PRODUCT.ORDER }}</option>
                                            <option value="alphabetical">{{ lang.PRODUCT.ALPHABETICAL }}</option>
                                            <option value="popularity" selected>{{ lang.PRODUCT.POPULARITY }}</option>
                                        {% else %}
                                            <option value="neutral" selected>{{ lang.PRODUCT.ORDER }}</option>
                                            <option value="alphabetical">{{ lang.PRODUCT.ALPHABETICAL }}</option>
                                            <option value="popularity">{{ lang.PRODUCT.POPULARITY }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </section>
                            <!-- Section: Categories -->
                            <!-- Section: Status -->
                            <section class="mb-4" data-filter="status">
                                <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.STATUS }}</h6>

                                {% if radioStatus == 'inprogress' %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusBoth" value="both">
                                        <label class="form-check-label" for="statusBoth">
                                            {{ lang.PRODUCT.BOTH }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusInprogress" value="inprogress" checked>
                                        <label class="form-check-label" for="statusInprogress">
                                            {{ lang.PRODUCT.INPROGRESS }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusFinished" value="finished">
                                        <label class="form-check-label" for="statusFinished">
                                            {{ lang.PRODUCT.FINISHED }}
                                        </label>
                                    </div>
                                {% elseif radioStatus == 'finished' %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusBoth" value="both">
                                        <label class="form-check-label" for="statusBoth">
                                            {{ lang.PRODUCT.BOTH }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusInprogress" value="inprogress">
                                        <label class="form-check-label" for="statusInprogress">
                                            {{ lang.PRODUCT.INPROGRESS }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusFinished" value="finished" checked>
                                        <label class="form-check-label" for="statusFinished">
                                            {{ lang.PRODUCT.FINISHED }}
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusBoth" value="both" checked>
                                        <label class="form-check-label" for="statusBoth">
                                            {{ lang.PRODUCT.BOTH }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusInprogress" value="inprogress">
                                        <label class="form-check-label" for="statusInprogress">
                                            {{ lang.PRODUCT.INPROGRESS }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStatus"
                                               id="statusFinished" value="finished">
                                        <label class="form-check-label" for="statusFinished">
                                            {{ lang.PRODUCT.FINISHED }}
                                        </label>
                                    </div>
                                {% endif %}

                            </section>
                            <!-- Section: Status -->
                            <!-- Section: +18 section -->
                            {% if age >= 18 %}
                                <section class="mb-4" data-filter="censure">
                                    <h6 class="font-weight-bold mb-3">{{ lang.PRODUCT.CENSURE }}</h6>
                                    {% if censureAdd == 'nocensure' %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radioCensure"
                                                   id="addCensure" value="censure">
                                            <label class="form-check-label" for="statusInprogress">
                                                {{ lang.PRODUCT.DISPLAYNONE }}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radioCensure"
                                                   id="removeCensure" value="nocensure" checked>
                                            <label class="form-check-label" for="statusFinished">
                                                {{ lang.PRODUCT.DISPLAY }}
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radioCensure"
                                                   id="addCensure" value="censure" checked>
                                            <label class="form-check-label" for="addCensure">
                                                {{ lang.PRODUCT.DISPLAYNONE }}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radioCensure"
                                                   id="removeCensure" value="nocensure">
                                            <label class="form-check-label" for="removeCensure">
                                                {{ lang.PRODUCT.DISPLAY }}
                                            </label>
                                        </div>
                                    {% endif %}
                                </section>
                            {% endif %}
                            <!-- Section: Condition -->
                            <button class="btn btn-outline-primary" type="submit" name="validateButton"
                                    id="validateButton">{{ lang.PRODUCT.VALIDATE }}</button>
                        </section>
                    </form>
                    <!-- Section: Filters -->
                </section>
                <!-- Section: Sidebar -->
            </div>
            <div class="col-md-8">
                <div class="row justify-content-center">
                    <form method="post" action="/store">
                        <div class="col-md-6 my-auto py-3">
                            <div class="input-group d-inline-flex">
                                {% if search != '' %}
                                    <input type="text" class="form-control rounded"
                                           placeholder="{{ lang.PRODUCT.SEARCH }}"
                                           aria-label="{{ lang.PRODUCT.SEARCH }}"
                                           aria-describedby="search-addon" id="searchBar" name="searchBar"
                                           value="{{ search }}"/>
                                {% else %}
                                    <input type="text" class="form-control rounded"
                                           placeholder="{{ lang.PRODUCT.SEARCH }}"
                                           aria-label="{{ lang.PRODUCT.SEARCH }}"
                                           aria-describedby="search-addon" id="searchBar" name="searchBar"/>
                                {% endif %}
                                <button type="submit" class="btn btn-outline-primary" id="submitButton"
                                        name="submitButton">
                                    {{ lang.HOME.SEARCH }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="scroll" class="row mb-4">
                    {% if nothing == true %}
                        <div id="error" class="alert alert-danger" style="width: 50vw; margin-right: auto; margin-left: auto; margin-top: 3vh">{{ lang.PRODUCT.NORESULT }}</div>
                    {% endif %}
                </div>
                {% include "scrollToTop.html.twig" %}
            </div>
        </div>
    </div>
</main>
{% include "footer.html.twig" %}
</body>

{% include "layoutScript.html.twig" %}
<script src="./javascript/productPage.js"></script>
<script src="./javascript/scrollToTop.js"></script>
</html>