<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "layoutStyle.html.twig" %}
    <link rel="stylesheet" href="../src/App/style/registration.css">
    <title>{{ lang.HOME.SIGNUP }}</title>
</head>
<body>
{% block registration %}
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <h1 class="fw-bold text-center" style="color: #4835d4;">{{ lang.REGISTRATION.FORM }}</h1>
                <div class="col-12 mt-2">
                    <form action="/registration" method="post">
                        <div class="card card-registration card-registration-2 rounded-3">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-6 rounded-3">
                                        <div class="p-5">
                                            <h3 class="fw-normal mb-5"
                                                style="color: #4835d4;">{{ lang.REGISTRATION.GENERAL }}</h3>
                                            <div class="row">
                                                <div class="mb-4 pb-2">
                                                    <input type="text" id="email" class="form-control form-control-lg" maxlength="255" name="email"
                                                    {% if user != '' %}
                                                        value="{{ user.email }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="email">{{ lang.REGISTRATION.EMAIL }}</label>
                                                    {% if errors.email != null %}
                                                        {% for error in errors.email %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <input type="password" id="password"
                                                           class="form-control form-control-lg" maxlength="50" name="password"/>
                                                    <label class="form-label"
                                                           for="password">{{ lang.REGISTRATION.PASSWORD }}</label>
                                                    {% if errors.password != null %}
                                                        {% for error in errors.password %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <input type="password" id="confirmPassword" name="password2"
                                                           class="form-control form-control-lg" maxlength="50"/>
                                                    <label class="form-label"
                                                           for="confirmPassword">{{ lang.REGISTRATION.CONFIRM_PASSWORD }}</label>
                                                    {% if errors.password2 != null %}
                                                        {% for error in errors.password2 %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <input type="text" id="first_name" name="first_name"
                                                           class="form-control form-control-lg" maxlength="50"
                                                    {% if user != '' %}
                                                        value="{{ user.first_name }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="first_name">{{ lang.REGISTRATION.FIRST_NAME }}</label>
                                                    {% if errors.first_name != null %}
                                                        {% for error in errors.first_name %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <input type="text" id="last_name" name="last_name"
                                                           class="form-control form-control-lg" maxlength="50"
                                                    {% if user != '' %}
                                                        value="{{ user.last_name }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="last_name">{{ lang.REGISTRATION.LAST_NAME }}</label>
                                                    {% if errors.last_name != null %}
                                                        {% for error in errors.last_name %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 bg-indigo text-white rounded-3"
                                         style="background-color: #4835d4;">
                                        <div class="p-5">
                                            <h3 class="fw-normal mb-5">{{ lang.REGISTRATION.CONTACT_DETAILS }}</h3>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="streetNumber" name="street_number"
                                                           class="form-control form-control-lg"
                                                    {% if user != '' %}
                                                        value="{{ user.street_number }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="streetNumber">{{ lang.REGISTRATION.STREET_NUMBER }}</label>
                                                    {% if errors.street_number != null %}
                                                        {% for error in errors.street_number %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="street" name="street"
                                                           class="form-control form-control-lg"
                                                           maxlength="50"
                                                    {% if user != '' %}
                                                        value="{{ user.street }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="street">{{ lang.REGISTRATION.STREET }}</label>
                                                    {% if errors.street != null %}
                                                        {% for error in errors.street %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="postcode" name="postcode"
                                                           class="form-control form-control-lg"
                                                    {% if user != '' %}
                                                        value="{{ user.postcode }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="postcode">{{ lang.REGISTRATION.POSTCODE }}</label>
                                                    {% if errors.postcode != null %}
                                                        {% for error in errors.postcode %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input type="text" id="city" class="form-control form-control-lg"
                                                           maxlength="50" name="city"
                                                    {% if user != '' %}
                                                        value="{{ user.city }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="city">{{ lang.REGISTRATION.CITY }}</label>
                                                    {% if errors.city != null %}
                                                        {% for error in errors.city %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-outline form-white">
                                                    <input type="date" id="birthdate"  name="birthdate"
                                                           class="form-control form-control-lg"
                                                    {% if user != '' %}
                                                        value="{{ user.birthdate }}"
                                                    {% endif %}
                                                    />
                                                    <label class="form-label"
                                                           for="birthdate">{{ lang.REGISTRATION.BIRTHDATE }}</label>
                                                    {% if errors.birthdate != null %}
                                                        {% for error in errors.birthdate %}
                                                            <p style="color : red">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                                <input class="form-check-input me-3" type="checkbox" value="1" name="tos" id="tos"/>
                                                <label class="form-check-label text-white" for="tos">
                                                    {{ lang.REGISTRATION.TOS }}
                                                </label>
                                                {% if errors.tos != null %}
                                                    {% for error in errors.tos %}
                                                        <p style="color : red">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-success btn-lg mt-2"
                                    data-mdb-ripple-color="dark">
                                {{ lang.REGISTRATION.REGISTER }}
                            </button>

                            <a type="button" class="btn btn-outline-dark btn-lg mt-2" data-mdb-ripple-color="dark" href="/">
                                {{ lang.REGISTRATION.BACK }}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</body>
{% include "layoutScript.html.twig" %}
</html>